@import "tailwindcss";

@theme{
    --color-first-100:rgb(79, 79, 79);
    --color-second-100:rgb(138, 138, 138);
    --color-third-100:rgb(215, 207, 199);
    --color-forth-100:rgb(28, 28, 28);
    --color-fifth-100:rgb(181, 179, 177);
    --color-sixth-100:rgb(162, 45, 45);

}